###
 # @Author: fjyu9 fjyu9@iflytek.com
 # @Date: 2026-03-04 15:05:04
 # @LastEditors: fjyu9 fjyu9@iflytek.com
 # @LastEditTime: 2026-03-04 15:13:18
 # @FilePath: \langChange Obj\.env.example
 # @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
### 
# 智谱 API Key（必填）
# 获取地址：https://open.bigmodel.cn
ZHIPU_API_KEY=27033e8259fa4433a64ab7741734f45d.8j7S6BLIG2X8aANy

# 可选：指定模型（默认 glm-4-flash）
# ZHIPU_MODEL=glm-4-flash
# ZHIPU_MODEL=glm-4
# ZHIPU_MODEL=glm-4-plus
